.git
.gitignore
.idea
.vscode
.DS_Store
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/build
**/dist
**/target
**/node_modules
**/.gradle
**/.venv
**/venv
**/.env
**/*.log
**/models
**/checkpoints
